
@import "globals";
@import "material";

#menu-screen-darkener {
	backdrop-filter: blur(0);
	background-color: rgba(0, 0, 0, .3);
}
#client-menu:not(.menu-open) *:not(#client-menu-button, #client-menu-button > *) { display: none; }


/* ------------------ GENERAL ------------------ */
#client-menu {
	position: fixed;
	top: calc(@padding + 10px);
	right: calc(@padding + 10px);
	z-index: 1;

	display: inline-flex;
	flex-direction: row-reverse;
	gap: @padding;
}

#client-menu-button {
	&:extend(.material);
	width: 35px;
	height: 35px;
	padding: calc(@padding + 3px);
	background-color: var(--color-unlayer);
	backdrop-filter: blur(5px);
	border: solid 5px var(--color-layer);
	border-radius: 100%;
	box-shadow: var(--shadow-soft);
}
#client-menu-button:hover { box-shadow: var(--shadow-main) }
#client-menu-button > img {
	width: 100%;
	height: 100%;
}

#client-menu-dropdown {
	&:extend(.flex-vert);
	gap: calc(@padding + 15px);
	&:extend(.material);
	background-color: var(--color-background-main);
	box-shadow: var(--shadow-main);

	padding: calc(@padding + 5px);
	text-align: center;

	translate: 0 3px;
	opacity: 0;
	transition: translate .2s ease, opacity .2s ease;
}
.menu-open > #client-menu-dropdown {
	translate: 0 0;
	opacity: 1;
}
#client-menu-dropdown > * {
	&:extend(.flex-vert);
	align-items: stretch;
}

#client-menu-dropdown > button:hover { box-shadow: var(--shadow-main) }


/* ------------------ OPTIONS ------------------ */
#client-options, #client-debug-options {
	button {
		justify-content: space-between
	}
}
#client-options, #client-debug-options {
	button.setting-bool::after {
	color: var(--color-text-light-main);
	padding-inline: calc(@padding);
	padding-block: calc(@padding / 8);
	text-transform: uppercase;
	border-radius: 1000px;
	/* off by default */
	content: "off"; background-color: #b60000;
	}
}
#client-options, #client-debug-options {
	button.setting-bool.setting-bool-active::after { content: "on"; background-color: green }
}


/* ------------------ DEBUG OPTIONS ------------------ */
#client-debug-options button.setting-bool::after {
	font-weight: bold;
	border-radius: 10px;
	background-image: repeating-linear-gradient(110deg, rgba(255, 255, 0, 0.5) 0, rgba(255, 255, 0, 0.5) 5px, transparent 5px, transparent 12px);
}


/* ------------------ OUTBOUND LINKS ------------------ */
button#feedbackButton { --bgImgUrl: url("../assets/menu-feedbackButton-background.png") }
button#featureRequestButton { --bgImgUrl: url("../assets/menu-featureRequestButton-background.png") }
button#issueReportButton { --bgImgUrl: url("../assets/menu-issueReportButton-background.png") }
button#shareButton { --bgImgUrl: url("../assets/menu-shareButton-background.png") }
#client-menu-dropdown > #meta-links > button {
	width: 100%;
	width: -webkit-fill-available;
	padding-inline-start: calc(@padding + 10px);
	padding-inline-end: calc(@padding + 50px);
	padding-block: @padding;

	text-shadow: 0 0 15px var(--color-text-inverted-main);
	background: linear-gradient(90deg, var(--color-background-main), var(--color-unlayer-heavy), var(--color-unlayer) 80%, transparent),
		repeat -7px 0 / 28px var(--bgImgUrl);
	background-clip: padding-box;
	border: solid 5px var(--color-layer);
}


/* ------------------ INFO ------------------ */
#clientInfo-wrapper {
	user-select: none;
	align-items: center;
}
#clientInfo-wrapper > * { color: var(--color-text-secondary) }
#clientInfo-wrapper > #version {
	color: var(--color-text-light-secondary);
	background-color: var(--color-accent-main);
	padding-inline: 15px;
	padding-block: 2px;
	border-radius: 1000px;
}
