
/* ----- Reset ----- */
input, button {
	all: unset;
}
/* ----------------- */

@import "globals";
@import "colors";
@import "material";

* {
	font-family: system-ui, "Arial";
	color: var(--color-text-main);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-background-main);
}

button {
	&:extend(.material);
	display: flex;
	align-items: center;
	gap: 7px;

	padding: 7px !important;
	cursor: pointer;
	transition: box-shadow .2s ease;
}
button:hover { &:extend(.material-shadow.soft); }
button:active { box-shadow: 0 0 30px 0 var(--color-layer); }
button > img {
	width: 20px;
	opacity: .5;
}
button > img.icon-mono { opacity: .75; }
button:hover > img { opacity: 1 !important; }

input::placeholder { color: var(--color-text-secondary); }
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

main {
	&:extend(.flex-vert);
	gap: 20px;
	padding: 20px;
}
