@import "common";

h1 {
	font-size: xxx-large;
}
h1#main-title {
	padding-inline: calc(@padding * 2);
}

#commit-log-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(@padding * 2);
	padding-inline-start: 0;
	margin: calc(@padding * 2);
}

.commit-log-list-element {
	display: flex;
	flex-direction: column;
	gap: calc(@padding * 2);
	padding: calc(@padding * 2);
}
.commit-log-list-element > * {
	display: flex;
	flex-direction: column;
	gap: @padding;
}

.author-data {
	display: flex;
	align-items: center;
	gap: @padding;
}

.author-pfp {
	width: 1.5em;
	aspect-ratio: 1;
	border-radius: 100%;
}

.commit-sha-id {
	font-size: x-large;
}

.commit-description:first-letter {
	text-transform: capitalize;
}