
@import "globals";
@import "material";

* {
	font-family: system-ui, "Arial";
	font-size: @fontsize;
	color: var(--color-text-main);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-background-main);
}

button, select {
	&:extend(.material);
	display: flex;
	align-items: center;
	gap: 7px;

	padding-block: 7px;
	cursor: pointer;
	transition: box-shadow .2s, translate .1s, background-color .2s;
}
button:hover {
	box-shadow: var(--shadow-soft);
	translate: 0px -2px;
}
button:active {
	box-shadow: var(--shadow-main);
	translate: 0 1px;
}
button > img {
	width: 20px;
	opacity: .5;
}
button > img.icon-mono { opacity: .75; }
button:hover > img { opacity: 1 !important; }

input {
	width: 100%;
	width: -webkit-fill-available;
}
input::placeholder {
	font-weight: normal;
	color: var(--color-text-secondary);
}
.during-screenshot input:placeholder-shown { display: none }
input[type=checkbox] {
	all: revert;
	display: inline;
}

code {
	&:extend(.material);
	background-color: var(--color-unlayer);
	font-family: "JetBrains Mono", "Andale Mono", "Droid Sans Mono", monospace;
	padding: calc(@padding / 2);
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0; }

.text-secondary {
	color: var(--color-text-secondary);
}
