
@import "globals";
@import "material";
@import "common";

#dialog-screen-darkener:not(:has(.dialog-wrapper)) {
	display: none;
	pointer-events: none;
}

.dialog-wrapper {
	&:extend(.material);
	&:extend(.round-corners);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 30%;
	background-color: var(--color-background-main);

	padding: calc(@padding + 10px);
	box-shadow: var(--shadow-main);
}

.dialog-wrapper hr { margin-block: calc(@padding * 2) }

.dialog-title { font-size: xx-large }
.dialog-description { font-size: large }
.dialog-inputs-wrapper {}
.dialog-options-wrapper {
	display: flex;
	justify-content: space-around;
}
.dialog-options-button { padding: calc(@padding + 10px) }
.dialog-options-buttonAbort {}
.dialog-options-buttonAbort::before {
	&:extend(.key-allegory);
	content: "ESC";
}
.dialog-options-buttonComplete { font-weight: bold }
.dialog-options-buttonComplete:hover {
	color: var(--color-unlayer-heavy);
	background-color: var(--color-accent-main);
}
.dialog-options-buttonComplete::before {
	&:extend(.key-allegory);
	content: "\21A9";  /* ↩︎ */
}

.dialog-input { margin-block-end: calc(@padding + 10px) }
.dialog-input-field {
	&:extend(.round-corners);
	display: inline;
	background-color: var(--color-layer);
	padding: @padding;
}
.dialog-input-title {
	display: inline;
	margin-inline-end: @padding;
}
.dialog-input-description {}

.cs-item-color-selector-list {
	&:extend(.flex-hor);
	max-width: 40vw;
	flex-wrap: wrap;
	gap: @padding;
	padding-inline-start: 0;
}
.cs-item-color-selector-item {
	&:extend(.material);
	&:extend(.flex-hor);
}
.cs-item-color-selector-item-input {}
.cs-item-color-selector-item-label {}
