/* Global variables / Config */
.displaymode-darkmode {
  --color-layer: rgba(255, 255, 255, 0.05);
  --color-layer-double: rgba(255, 255, 255, 0.1);
  --color-layer-heavy: rgba(255, 255, 255, 0.5);
  --color-unlayer: rgba(25, 25, 25, 0.6);
  --color-unlayer-heavy: rgba(25, 25, 25, 0.95);
  --color-background-main: #191919;
  --color-border-main: #858585;
  --color-text-main: #dedede;
  --color-text-inverted-main: #212121;
  --color-text-secondary: rgba(222, 222, 222, 0.5);
  --color-text-inverted-secondary: rgba(33, 33, 33, 0.5);
  --shadow-main: 0 5px 15px 10px var(--color-shadow);
  --shadow-soft: 0 1px 8px 5px var(--color-shadow-soft);
}
:root,
.during-screenshot {
  --color-layer: rgba(0, 0, 0, 0.05);
  --color-layer-double: rgba(0, 0, 0, 0.1);
  --color-layer-heavy: rgba(0, 0, 0, 0.5);
  --color-unlayer: rgba(255, 255, 255, 0.6);
  --color-unlayer-heavy: rgba(255, 255, 255, 0.95);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-soft: rgba(0, 0, 0, 0.035);
  --color-background-main: #ffffff;
  --color-background-secondary: #dedede;
  --color-border-main: #7a7a7a;
  --color-text-main: #212121;
  --color-text-secondary: rgba(33, 33, 33, 0.5);
  --color-accent-main: #9f374f;
  --color-accent-secondary: rgba(159, 55, 79, 0.5);
  --shadow-main: 0 5px 15px 10px var(--color-shadow);
  --shadow-soft: 0 1px 8px 5px var(--color-shadow-soft);
}
.flex-vert {
  display: flex;
  flex-direction: column;
  gap: min(10px, 1vh);
}
.flex-hor,
.cs-item-color-selector-list,
.cs-item-color-selector-item {
  display: flex;
  flex-direction: row;
  gap: min(10px, 1vh);
}
.round-corners,
.material,
.dialog-wrapper,
.dialog-input-field,
.scrollbar-visible::-webkit-scrollbar-thumb,
button,
select,
code,
.dialog-wrapper,
.cs-item-color-selector-item {
  border-radius: 20px;
}
.backdrop-blur {
  backdrop-filter: blur(60px);
}
.displaymode-darkmode .icon-mono.display-mode-dynamic-icon {
  filter: contrast(0) brightness(100%) !important;
  filter: invert(1) !important;
}
.material,
.scrollbar-visible::-webkit-scrollbar-thumb,
button,
select,
code,
.dialog-wrapper,
.cs-item-color-selector-item {
  background-color: var(--color-layer);
  padding: min(10px, 1vh);
  gap: calc(min(10px, 1vh) + 2px);
  border: none;
}
.material-border {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-border-main);
}
.scrollbar-visible::-webkit-scrollbar {
  display: flex;
  position: fixed;
}
.scrollbar-visible::-webkit-scrollbar-track {
  width: 50% !important;
}
.screen-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  user-select: none;
}
* {
  font-family: system-ui, "Arial";
  font-size: max(10pt, 1.25vw, 1vh);
  color: var(--color-text-main);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-background-main);
}
button,
select {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-block: 7px;
  cursor: pointer;
  transition: box-shadow 0.2s, translate 0.1s, background-color 0.2s;
}
button:hover {
  box-shadow: var(--shadow-soft);
  translate: 0px -2px;
}
button:active {
  box-shadow: var(--shadow-main);
  translate: 0 1px;
}
button > img {
  width: 20px;
  opacity: 0.5;
}
button > img.icon-mono {
  opacity: 0.75;
}
button:hover > img {
  opacity: 1 !important;
}
input {
  width: 100%;
  width: -webkit-fill-available;
}
input::placeholder {
  font-weight: normal;
  color: var(--color-text-secondary);
}
.during-screenshot input:placeholder-shown {
  display: none;
}
input[type=checkbox] {
  all: revert;
  display: inline;
}
code {
  background-color: var(--color-unlayer);
  font-family: "JetBrains Mono", "Andale Mono", "Droid Sans Mono", monospace;
  padding: calc(min(10px, 1vh) / 2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
.text-secondary {
  color: var(--color-text-secondary);
}
kbd,
.dialog-options-buttonAbort::before,
.dialog-options-buttonComplete::before {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1em;
  height: 1.2em;
  padding-inline: 0.1em;
  font-family: "JetBrains Mono", "Andale Mono", "Droid Sans Mono", monospace;
  font-size: 0.75em;
  color: var(--color-layer-heavy);
  background-color: var(--color-layer);
  border: 0.1em solid var(--color-layer-double);
  border-radius: 0.3em;
  box-shadow: 0.075em 0.15em 0 0.05em var(--color-layer-double);
  translate: 0 -0.15em;
}
#dialog-screen-darkener:not(:has(.dialog-wrapper)) {
  display: none;
  pointer-events: none;
}
.dialog-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  background-color: var(--color-background-main);
  padding: calc(min(10px, 1vh) + 10px);
  box-shadow: var(--shadow-main);
}
.dialog-wrapper hr {
  margin-block: calc(min(10px, 1vh) * 2);
}
.dialog-title {
  font-size: xx-large;
}
.dialog-description {
  font-size: large;
}
.dialog-options-wrapper {
  display: flex;
  justify-content: space-around;
}
.dialog-options-button {
  padding: calc(min(10px, 1vh) + 10px);
}
.dialog-options-buttonAbort::before {
  content: "ESC";
}
.dialog-options-buttonComplete {
  font-weight: bold;
}
.dialog-options-buttonComplete:hover {
  color: var(--color-unlayer-heavy);
  background-color: var(--color-accent-main);
}
.dialog-options-buttonComplete::before {
  content: "\21A9";
  /* ↩︎ */
}
.dialog-input {
  margin-block-end: calc(min(10px, 1vh) + 10px);
}
.dialog-input-field {
  display: inline;
  background-color: var(--color-layer);
  padding: min(10px, 1vh);
}
.dialog-input-title {
  display: inline;
  margin-inline-end: min(10px, 1vh);
}
.cs-item-color-selector-list {
  max-width: 40vw;
  flex-wrap: wrap;
  gap: min(10px, 1vh);
  padding-inline-start: 0;
}
/*# sourceMappingURL=dialog.css.map */