
/* Reset some styles */
input, button {
	all: unset;
}
/* - */

* {
	font-family: system-ui, "Arial";
	color: var(--color-text-main);
	background-color: var(--color-background-main);
}

body {
	margin: 0;
	min-height: 100vh;
}
input::placeholder { color: var(--color-text-secondary); }
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

main {
	&:extend(.flex-vert);
	gap: 20px;
	padding: 20px;
}

#download-point:not(.available) {
	visibility: hidden;
}

#section-contentHeader > h1 {
	border: none;
	font-size: xxx-large;
}
#section-contentHeader > input[type="text"] {
	border: none;
	font-size: larger;
}

.cs-section {
	&:extend(.material);
	&:extend(.flex-vert);
	padding-inline: 10px !important;
	gap: 10px;
}
.cs-section:not(:has(.cs-item)) {
	display: none;
}

.cs-section-header {
	&:extend(.flex-hor);
	align-items: center;
}
.cs-section-header > img {
	height: 3dvh;
	width: auto;
	margin: 5px;
}
.cs-section-header > h3 {
	text-transform: capitalize;
	margin-inline: 12px;
}

.cs-item {
	&:extend(.material);
}
.darkmode .icon-mono.display-mode-dynamic-icon {
	filter: contrast(0) brightness(100%);
}

.flex-vert {
	display: flex;
	flex-direction: column;
}
.flex-hor {
	display: flex;
	flex-direction: row;
}

.round-corners {
	border-radius: 20px;
}

.material {
	&:extend(.round-corners);
	background-color: var(--color-layer);
	padding-inline: 15px;
	padding-block: 10px;
}