
@import "colors";

.flex-vert {
	display: flex;
	flex-direction: column;
}
.flex-hor {
	display: flex;
	flex-direction: row;
}

.round-corners {
	border-radius: 20px;
}

.darkmode .icon-mono.display-mode-dynamic-icon {
	filter: contrast(0) brightness(100%);
}

.material {
	&:extend(.round-corners);
	background-color: var(--color-layer);
	padding-inline: 10px;
	padding-block: 10px;
}
