
@import "globals";

.flex-vert {
	display: flex;
	flex-direction: column;
	gap: @padding;
}
.flex-hor {
	display: flex;
	flex-direction: row;
	gap: @padding;
}

.round-corners { border-radius: 20px; }

.backdrop-blur { backdrop-filter: blur(60px); }

.displaymode-darkmode .icon-mono.display-mode-dynamic-icon {
	filter: contrast(0) brightness(100%) !important;
	filter: invert(1) !important;
}

.material {
	&:extend(.round-corners);
	background-color: var(--color-layer);
	padding: @padding;
	gap: @padding;
}

.material-border {
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-border-main);
}

.scrollbar-visible::-webkit-scrollbar {
	display: flex;
	position: fixed;
}
.scrollbar-visible::-webkit-scrollbar-thumb { &:extend(.material); }
.scrollbar-visible::-webkit-scrollbar-track { width: 50% !important; }

.screen-blocker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(3px);
	user-select: none;
}
