
@import "globals";
@import "material";

#page-wrapper {
	gap: 0;
}

#normal-content {
}

#adhd-content {
	display: none;
}
.displaymode-subwaysurfers #adhd-content {
	display: block;
}

#content-body {
	&:extend(.flex-vert);
	gap: 20px;
	padding: @padding;
	background-color: var(--color-background-main);
	min-height: 100dvh;
}


/* ------------------------ HEADER ------------------------ */

/* main title */
#section-contentHeader > #main-title {
	display: block;
	border: none;
	font-size: calc(@fontsize * 3);
	font-weight: bold;
}
#section-contentHeader > #main-title::placeholder { font-weight: bold; }

/* main data */
.input-date-separator,
#main-data > *[id$="wrapper"] {
	display: flex;
	align-items: baseline;
	gap: @padding;
	font-size: calc(@fontsize * 2);
}
#main-data *[id$="wrapper"] .main-data-icon { height: calc(@fontsize * 1.5) }

#date-label,
#input-date-wrapper > *:not(.input-date-separator) {
	all: inherit;
}
#date-label { opacity: .3 !important }


/* during screenshot */
.during-screenshot #main-data :not(#input-date-wrapper) > .main-data-icon:not(:has(+ input:not(:placeholder-shown))),
.during-screenshot #main-data #input-date-wrapper .main-data-icon:not(:has(~ *[id$="wrapper"] input:not(:placeholder-shown))),
.during-screenshot #main-data #date-label,
.during-screenshot #main-data input:placeholder-shown + .input-date-separator,
.during-screenshot #input-date-middle-separator:not(:has(+ #input-dateTo-wrapper > input:not(:placeholder-shown))) { display: none }

/* ------------------------ SECTIONS ------------------------ */

.cs-section {
	&:extend(.material);
	&:extend(.flex-vert);
}
.cs-section:not(:has(.cs-item)) { display: none }

.cs-section-header {
	&:extend(.flex-hor);
	align-items: center;
}
.cs-section-header > img {
	height: 3dvh;
	width: auto;
	margin: 5px;
}
.cs-section-header > h3 {
	text-transform: capitalize;
	margin-inline: @padding;
}


/* ------------------------ ITEMS ------------------------ */

.cs-item {
	&:extend(.material);
	padding: 0;
	display: grid;
	grid-template-columns: 1fr fit-content(50%) max-content;
	justify-content: end;
	align-items: stretch;
	overflow: hidden;

	background-position: center center;
	background-size: contain;
}
.cs-item:hover { background-color: var(--color-layer-double) }
#content-body:not(.dynamic-backgrounds-enabled) .cs-item { background-image: none !important }
.during-screenshot .cs-item { grid-template-columns: 1fr fit-content(50%) 0fr }

.cs-item .csItem-btn-wrapper { display: inline-flex }
.cs-item .csItem-btn-wrapper > button { border-radius: 0 !important }
.cs-item .csItem-btn-wrapper > button:hover {
	box-shadow: var(--shadow-soft);
	translate: 0 0;
}
.during-screenshot .csItem-btn-wrapper { display: none }

.cs-item .csItem-btn-wrapper { justify-self: end }


/* ------------------------ CAROUSELS ------------------------ */

.imageCarousel-wrapper {
	margin-block: calc(@padding / 2);
	overflow: hidden;
}
.during-screenshot .imageCarousel-wrapper {
	height: fit-content;
	overflow: visible;
}

.image-carousel:not(:has(img)) { display: none }
.image-carousel {
	&:extend(.material);
	height: @imageCarousel-height;
	justify-content: left;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
#section-mainImage .image-carousel { height: calc(@imageCarousel-height * 3) }
.during-screenshot .image-carousel {
	background-color: transparent;
}
.during-screenshot *:not(#section-mainImage) .image-carousel {
	white-space: unset;
	height: fit-content;
	overflow: visible;
}

#section-mainImage > .image-carousel:has(.carousel-image)~.image-carousel-options { margin-block-start: @padding }
.during-screenshot .image-carousel-options { display: none }
.cs-item:not(:hover) .image-carousel-options { visibility: hidden }

.carousel-image {
	&:extend(.round-corners);
	&:extend(.material-border);
	position: relative;
	height: @imageCarousel-height;
	display: inline-block;
	overflow: hidden;
	box-shadow: var(--shadow-soft);
	margin-inline-end: @padding;
}
.carousel-image:last-child { margin-inline-end: revert }
#section-mainImage .image-carousel > .carousel-image { height: calc(@imageCarousel-height * 3) }

.carousel-image > img {
	display: inline;
	height: 100%;
}
.carousel-image > .deleteBtn {
	position: absolute;
	top: @padding;
	right: @padding;
	width: 20px;
	height: 20px;
	background-color: var(--color-background-main);
	opacity: 0.75;
	border: none;
}
.during-screenshot .carousel-image > .deleteBtn { display: none; }


/* ------------------------ DISTRACTION ------------------------ */

#subway-surfers-video {
	height: 100vh;
}

#subwaysurfers-mute-button {
	position: fixed;
	bottom: calc(@padding + 10px);
	right: calc(@padding + 10px);
	background-color: white;
	z-index: 1;

	display: inline-flex;
	flex-direction: row-reverse;
	gap: @padding;
}
