
@import "globals";
@import "material";

#content-body {
	&:extend(.flex-vert);
	gap: 20px;
	padding: @padding;
	background-color: var(--color-background-main);
	min-height: 100dvh;
}

#section-contentHeader > #main-title {
	display: block;
	border: none;
	font-size: @fontsize * 3;
	font-weight: bold;
}
#section-contentHeader > #main-title::placeholder { font-weight: bold; }
#section-contentHeader > #main-data {
	display: inline-flex;
	gap: @padding * 2;
}
#section-contentHeader input[type="text"] {
	border: none;
	font-size: larger;
}
#date-label.during-screenshot { display: none }

.cs-section {
	&:extend(.material);
	&:extend(.flex-vert);
}
.cs-section:not(:has(.cs-item)) { display: none }

.cs-section-header {
	&:extend(.flex-hor);
	align-items: center;
}
.cs-section-header > img {
	height: 3dvh;
	width: auto;
	margin: 5px;
}
.cs-section-header > h3 {
	text-transform: capitalize;
	margin-inline: @padding;
}

.cs-item {
	&:extend(.material);
	padding: 0 !important;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.cs-item > p {
	flex-wrap: wrap;
}

.cs-item .csItem-options-wrapper {
	display: inline-flex;
}
.cs-item .csItem-options-wrapper > button { border-radius: 0 !important; }
.cs-item .csItem-options-wrapper > button:hover {
	box-shadow: var(--shadow-soft);
	translate: 0 0;
}

.image-carousel:not(:has(img)) { display: none }
.image-carousel {
	&:extend(.material);
	height: @imageCarousel-height;
	justify-content: left;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
#section-mainImage > .image-carousel { height: calc(@imageCarousel-height * 3) }
#section-mainImage > .image-carousel-options { margin-block-start: @padding }
#section-mainImage > .image-carousel-options.during-screenshot { display: none }

.carousel-image {
	&:extend(.round-corners);
	&:extend(.material-border);
	position: relative;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	box-shadow: var(--shadow-soft);
	margin-inline-end: @padding;
}
.carousel-image:last-child { margin-inline-end: revert }
.carousel-image > img {
	display: inline;
	height: 100%;
}
.carousel-image > .deleteBtn {
	position: absolute;
	top: @padding;
	right: @padding;
	width: 20px;
	height: 20px;
	background-color: var(--color-background-main);
	opacity: 0.75;
	border: none;
}
.during-screenshot .carousel-image > .deleteBtn { display: none; }