/* Global variables / Config */
.displaymode-darkmode {
  --color-layer: rgba(255, 255, 255, 0.05);
  --color-layer-double: rgba(255, 255, 255, 0.1);
  --color-layer-heavy: rgba(255, 255, 255, 0.5);
  --color-unlayer: rgba(0, 0, 0, 0.3);
  --color-unlayer-heavy: rgba(0, 0, 0, 0.75);
  /* Keep the same shadow color regardless of set display mode */
  --color-background-main: #24242a;
  --color-border-main: #3e3e3e;
  --color-text-main: #f2f2f2;
  --color-text-secondary: rgba(242, 242, 242, 0.5);
  --color-text-inverted-main: #212121;
  --color-text-inverted-secondary: rgba(33, 33, 33, 0.5);
}
:root,
.during-screenshot {
  --color-layer: rgba(0, 0, 0, 0.05);
  --color-layer-double: rgba(0, 0, 0, 0.1);
  --color-layer-heavy: rgba(0, 0, 0, 0.5);
  --color-unlayer: rgba(255, 255, 255, 0.6);
  --color-unlayer-heavy: rgba(255, 255, 255, 0.95);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-soft: rgba(0, 0, 0, 0.035);
  --color-background-main: #ffffff;
  --color-border-main: #7a7a7a;
  --color-text-main: #212121;
  --color-text-secondary: rgba(33, 33, 33, 0.5);
  --color-text-inverted-main: #f2f2f2;
  --color-text-inverted-secondary: rgba(242, 242, 242, 0.5);
  --color-text-light-main: #f2f2f2;
  --color-text-light-secondary: rgba(242, 242, 242, 0.5);
  --color-text-dark-main: #212121;
  --color-text-dark-secondary: rgba(33, 33, 33, 0.5);
  --color-accent-main: #9f374f;
  --color-accent-secondary: rgba(159, 55, 79, 0.5);
  --shadow-main: 0 5px 15px 10px var(--color-shadow);
  --shadow-soft: 0 1px 8px 5px var(--color-shadow-soft);
}
.flex-vert,
#content-body,
.cs-section {
  display: flex;
  flex-direction: column;
  gap: min(10px, 1vh);
}
.flex-hor,
.cs-section-header {
  display: flex;
  flex-direction: row;
  gap: min(10px, 1vh);
}
.round-corners,
.material,
.carousel-image,
.scrollbar-visible::-webkit-scrollbar-thumb,
.cs-section,
.cs-item,
.image-carousel {
  border-radius: 20px;
}
.backdrop-blur {
  backdrop-filter: blur(60px);
}
.displaymode-darkmode .icon-mono.display-mode-dynamic-icon {
  filter: contrast(0) brightness(100%) !important;
  filter: invert(1) !important;
}
.material,
.scrollbar-visible::-webkit-scrollbar-thumb,
.cs-section,
.cs-item,
.image-carousel {
  background-color: var(--color-layer);
  padding: min(10px, 1vh);
  gap: calc(min(10px, 1vh) + 2px);
  border: none;
}
.material-border,
.carousel-image {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-border-main);
}
.scrollbar-visible::-webkit-scrollbar {
  display: flex;
  position: fixed;
}
.scrollbar-visible::-webkit-scrollbar-track {
  width: 50% !important;
}
.screen-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  user-select: none;
}
#page-wrapper {
  gap: 0;
}
#adhd-content {
  display: none;
}
.displaymode-subwaysurfers #adhd-content {
  display: block;
}
#content-body {
  gap: 20px;
  padding: min(10px, 1vh);
  background-color: var(--color-background-main);
  min-width: 98dvw;
  min-height: 100dvh;
}
/* ------------------------ HEADER ------------------------ */
/* main title */
#section-contentHeader > #main-title {
  display: block;
  border: none;
  font-size: calc(max(10pt, 1.25vw, 1vh) * 3);
  font-weight: bold;
}
#section-contentHeader > #main-title::placeholder {
  font-weight: bold;
}
/* main data */
.input-date-separator,
#main-data > *[id$="wrapper"] {
  display: flex;
  align-items: baseline;
  gap: min(10px, 1vh);
  font-size: calc(max(10pt, 1.25vw, 1vh) * 2);
}
#main-data *[id$="wrapper"] .main-data-icon {
  height: calc(max(10pt, 1.25vw, 1vh) * 1.5);
}
#date-label,
#input-date-wrapper > *:not(.input-date-separator) {
  all: inherit;
}
#date-label {
  opacity: 0.3 !important;
}
/* during screenshot */
.during-screenshot #main-data :not(#input-date-wrapper) > .main-data-icon:not(:has( + input:not(:placeholder-shown))),
.during-screenshot #main-data #input-date-wrapper .main-data-icon:not(:has( ~ *[id$="wrapper"] input:not(:placeholder-shown))),
.during-screenshot #main-data #date-label,
.during-screenshot #main-data input:placeholder-shown + .input-date-separator,
.during-screenshot #input-date-middle-separator:not(:has( + #input-dateTo-wrapper > input:not(:placeholder-shown))) {
  display: none;
}
/* ------------------------ SECTIONS ------------------------ */
.cs-section:not(:has(.cs-item)) {
  display: none;
}
.cs-section-header {
  align-items: center;
}
.cs-section-header > img {
  height: 3dvh;
  width: auto;
  margin: 5px;
}
.cs-section-header > h3 {
  text-transform: capitalize;
  margin-inline: min(10px, 1vh);
}
/* ------------------------ ITEMS ------------------------ */
.cs-item {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr fit-content(50%) max-content;
  justify-content: end;
  align-items: stretch;
  overflow: hidden;
  background-position: center center;
  background-size: contain;
}
.cs-item:hover {
  background-color: var(--color-layer-double);
}
#content-body:not(.dynamic-backgrounds-enabled) .cs-item {
  background-image: none !important;
}
.during-screenshot .cs-item {
  grid-template-columns: 1fr fit-content(50%) 0fr;
}
.cs-item .csItem-btn-wrapper {
  display: inline-flex;
}
.cs-item .csItem-btn-wrapper > button {
  border-radius: 0 !important;
}
.cs-item .csItem-btn-wrapper > button:hover {
  box-shadow: var(--shadow-soft);
  translate: 0 0;
}
.during-screenshot .csItem-btn-wrapper {
  display: none;
}
.cs-item .csItem-btn-wrapper {
  justify-self: end;
}
/* ------------------------ CAROUSELS ------------------------ */
.imageCarousel-wrapper {
  margin-block: calc(min(10px, 1vh) / 2);
  overflow: hidden;
}
.during-screenshot .imageCarousel-wrapper {
  height: fit-content;
  overflow: visible;
}
.image-carousel:not(:has(img)) {
  display: none;
}
.image-carousel {
  height: 100px;
  justify-content: left;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#section-mainImage .image-carousel {
  height: calc(100px * 3);
}
.during-screenshot .image-carousel {
  background-color: transparent;
}
.during-screenshot *:not(#section-mainImage) .image-carousel {
  white-space: unset;
  height: fit-content;
  overflow: visible;
}
#section-mainImage > .image-carousel:has(.carousel-image) ~ .image-carousel-options {
  margin-block-start: min(10px, 1vh);
}
.during-screenshot .image-carousel-options {
  display: none;
}
.cs-item:not(:hover) .image-carousel-options {
  visibility: hidden;
}
.carousel-image {
  position: relative;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  margin-inline-end: min(10px, 1vh);
}
.carousel-image:last-child {
  margin-inline-end: revert;
}
#section-mainImage .image-carousel > .carousel-image {
  height: calc(100px * 3);
}
.carousel-image > img {
  display: inline;
  height: 100%;
}
.carousel-image > .deleteBtn {
  position: absolute;
  top: min(10px, 1vh);
  right: min(10px, 1vh);
  width: 20px;
  height: 20px;
  background-color: var(--color-background-main);
  opacity: 0.75;
  border: none;
}
.during-screenshot .carousel-image > .deleteBtn {
  display: none;
}
/* ------------------------ DISTRACTION ------------------------ */
#subway-surfers-video {
  height: 100vh;
}
#subwaysurfers-mute-button {
  position: fixed;
  bottom: calc(min(10px, 1vh) + 10px);
  right: calc(min(10px, 1vh) + 10px);
  background-color: white;
  z-index: 1;
  display: inline-flex;
  flex-direction: row-reverse;
  gap: min(10px, 1vh);
}
/*# sourceMappingURL=sheet.css.map */