
@import "globals";
@import "colors";
@import "material";

#content-body {
	background-color: var(--color-background-main);
}

#section-contentHeader > h1 {
	border: none;
	font-size: xxx-large;
}
#section-contentHeader > input[type="text"] {
	border: none;
	font-size: larger;
}

.cs-section {
	&:extend(.material);
	&:extend(.flex-vert);
}
.cs-section:not(:has(.cs-item)) {
	display: none;
}

.cs-section-header {
	&:extend(.flex-hor);
	align-items: center;
}
.cs-section-header > img {
	height: 3dvh;
	width: auto;
	margin: 5px;
}
.cs-section-header > h3 {
	text-transform: capitalize;
	margin-inline: @padding;
}

.cs-item {
	&:extend(.material);
}

.image-carousel:not(:has(img)) {
	display: none;
}
.image-carousel {
	&:extend(.material);
	&:extend(.flex-hor);
	height: @imageCarousel-height;
	justify-content: left;
	overflow-x: auto;
	overflow-y: hidden;
}
#section-mainImage > .image-carousel { height: calc(@imageCarousel-height * 3) }
#section-mainImage > #upload-button { margin-block-start: @padding }
.image-carousel > img {
	&:extend(.round-corners);
	&:extend(.material-border);
	&:extend(.material-shadow.soft);
	height: 100%;
}