/* Global variables / Config */
.darkmode {
  --color-layer: rgba(255, 255, 255, 0.05);
  --color-unlayer: rgba(0, 0, 0, 0.25);
  /* Keep the same shadow color regardless of set display mode */
  --color-background-main: #24242a;
  --color-border-main: #3e3e3e;
  --color-text-main: #f2f2f2;
  --color-text-secondary: rgba(242, 242, 242, 0.5);
  --color-text-inverted-main: #212121;
  --color-text-inverted-secondary: rgba(33, 33, 33, 0.5);
}
:root,
.during-screenshot {
  --color-layer: rgba(0, 0, 0, 0.05);
  --color-unlayer: rgba(255, 255, 255, 0.6);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-soft: rgba(0, 0, 0, 0.035);
  --color-background-main: #ffffff;
  --color-border-main: #7a7a7a;
  --color-text-main: #212121;
  --color-text-secondary: rgba(33, 33, 33, 0.5);
  --color-text-inverted-main: #f2f2f2;
  --color-text-inverted-secondary: rgba(242, 242, 242, 0.5);
  --color-text-light-main: #f2f2f2;
  --color-text-light-secondary: rgba(242, 242, 242, 0.5);
  --color-text-dark-main: #212121;
  --color-text-dark-secondary: rgba(33, 33, 33, 0.5);
  --color-accent-main: #9f374f;
  --color-accent-secondary: rgba(159, 55, 79, 0.5);
  --shadow-main: 0 5px 15px 10px var(--color-shadow);
  --shadow-soft: 0 1px 8px 5px var(--color-shadow-soft);
}
.flex-vert,
#content-body,
.cs-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-hor,
.cs-section-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.round-corners,
.material,
.carousel-image,
.scrollbar-visible::-webkit-scrollbar-thumb,
.cs-section,
.cs-item,
.image-carousel {
  border-radius: 20px;
}
.backdrop-blur {
  backdrop-filter: blur(60px);
}
.darkmode .icon-mono.display-mode-dynamic-icon {
  filter: contrast(0) brightness(100%);
}
.material,
.scrollbar-visible::-webkit-scrollbar-thumb,
.cs-section,
.cs-item,
.image-carousel {
  background-color: var(--color-layer);
  padding: 10px;
  gap: 10px;
}
.material-border,
.carousel-image {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-border-main);
}
.scrollbar-visible::-webkit-scrollbar {
  display: flex;
  position: fixed;
}
.scrollbar-visible::-webkit-scrollbar-track {
  width: 50% !important;
}
.screen-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  user-select: none;
}
#content-body {
  gap: 20px;
  padding: 10px;
  background-color: var(--color-background-main);
  min-height: 100dvh;
}
#section-contentHeader > #main-title {
  display: block;
  border: none;
  font-size: 6dvh;
  font-weight: bold;
}
#section-contentHeader > #main-title::placeholder {
  font-weight: bold;
}
#section-contentHeader > #main-data {
  display: block;
  gap: 20px;
  font-size: xx-large !important;
}
#input-date-group,
#date-label {
  all: inherit;
}
#input-date-group > * {
  display: inline-flex;
  width: unset;
}
.during-screenshot #date-label {
  display: none;
}
.during-screenshot #input-date-group:not(:has(#input-date-year:not(:placeholder-shown))),
.during-screenshot #input-date-group:not(:has(#input-date-year:not(:placeholder-shown))) {
  display: none;
}
.cs-section:not(:has(.cs-item)) {
  display: none;
}
.cs-section-header {
  align-items: center;
}
.cs-section-header > img {
  height: 3dvh;
  width: auto;
  margin: 5px;
}
.cs-section-header > h3 {
  text-transform: capitalize;
  margin-inline: 10px;
}
.cs-item {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr fit-content(50%) max-content;
  justify-content: end;
  align-items: stretch;
  overflow: hidden;
}
.during-screenshot .cs-item {
  grid-template-columns: 1fr fit-content(50%) 0fr;
}
.cs-item .csItem-btn-wrapper {
  display: inline-flex;
}
.cs-item .csItem-btn-wrapper > button {
  border-radius: 0 !important;
}
.cs-item .csItem-btn-wrapper > button:hover {
  box-shadow: var(--shadow-soft);
  translate: 0 0;
}
.during-screenshot .csItem-btn-wrapper {
  display: none;
}
.cs-item .csItem-btn-wrapper {
  justify-self: end;
}
.imageCarousel-wrapper {
  margin-block: calc(10px / 2);
  overflow: hidden;
}
.during-screenshot .imageCarousel-wrapper {
  height: fit-content;
  overflow: visible;
}
.image-carousel:not(:has(img)) {
  display: none;
}
.image-carousel {
  height: 100px;
  justify-content: left;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#section-mainImage .image-carousel {
  height: calc(100px * 3);
}
.during-screenshot .image-carousel {
  background-color: transparent;
}
.during-screenshot *:not(#section-mainImage) .image-carousel {
  white-space: unset;
  height: fit-content;
  overflow: visible;
}
#section-mainImage > .image-carousel-options {
  margin-block-start: 10px;
}
.during-screenshot .image-carousel-options {
  display: none;
}
.carousel-image {
  position: relative;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  margin-inline-end: 10px;
}
.carousel-image:last-child {
  margin-inline-end: revert;
}
#section-mainImage .image-carousel > .carousel-image {
  height: calc(100px * 3);
}
.carousel-image > img {
  display: inline;
  height: 100%;
}
.carousel-image > .deleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--color-background-main);
  opacity: 0.75;
  border: none;
}
.during-screenshot .carousel-image > .deleteBtn {
  display: none;
}
/*# sourceMappingURL=sheet.css.map */